/* HOMEPAGE.CSS!!! */

/* NAV BAR */

.navbar {
    padding-top: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0; 
    border: 0;
    width: 100%;
    height: fit-content;

    background-color: #54161E;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

ul li a {
    text-decoration: none;
    color:#FDEADD;
}

#DITHER {
    margin-right: auto;
    padding: 0% 10px;
    font-size: 15px;
}

#ABOUT {
    padding: 0% 10px;
    font-size: 10px;
}

.LEARN {
    padding: 0% 10px;
    font-size: 10px;
}

/* HERO Section */

/* Headline */

.HERO {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    display: flex;
    justify-content: center;
    justify-content: space-between;
}

#first {
    padding-left: 75px;
    padding-top: 50px;
    max-width: 450px;
    font-size: 60px;
}

#second {
    padding-right: 35px;
    padding-top: 50px;
    text-align: right;
    font-size: 80px;
    max-width: 1600px;
}

/* Blurb below headline */

#blurb_below_headline {
    font-size: 30px;
    text-align: center;
}

.BUTTON {
    display: flex;
    justify-content: center;
}

button a {
    background-color:#889DA0;
    color:#FDEADD;
    font-family: "Lora";

    text-decoration: none;
    
    padding: 0% 10px;
}

button.NAV {
    font-size: 30px;
    background-color:#889DA0;
    color:#FDEADD;
    font-family: "Lora";

    text-decoration: none;
}

button.HERO {
    font-size: 100px;
    background-color:#889DA0;
    color:#FDEADD;
    font-family: "Lora";

    text-decoration: none;
    border-style:ridge;

    padding: 15px;
}