/* HOMEPAGE.CSS!!! */

/* NAV BAR */

.navbar {
    padding-top: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0; 
    border: 0;
    width: 100%;
    height: fit-content;

    background-color: #32b3c2;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

ul li a {
    text-decoration: none;
    color: #f9f3e0;
}

#DITHER {
    margin-right: auto;
    padding: 0% 10px;
    font-size: 15px;
}

#ABOUT {
    padding: 0% 10px;
    font-size: 10px;
}

.LEARN {
    padding: 0% 10px;
    font-size: 10px;
}

/* HERO Section */

/* Headline */

.HERO {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    display: flex;
    justify-content: center;
    justify-content: space-between;

    color:#c59c73;
}

em.first {
    color:#32b3c2;
}

#first {
    padding-left: 75px;
    padding-top: 50px;
    max-width: 450px;
    font-size: 60px;
}

.reduce {
    color:#32b3c2;
}

#second {
    padding-right: 35px;
    padding-top: 50px;
    text-align: right;
    font-size: 80px;
    max-width: 1600px;
}

/* Blurb below headline */

#blurb_below_headline {
    font-size: 30px;
    text-align: center;
    padding-bottom: 50px;

    color:#c59c73;
}

.BUTTON {
    display: flex;
    justify-content: center;
}

button a {
    background-color:#32b3c2;
    color:#FDEADD;
    font-family: "Lora";

    text-decoration: none;
    
    padding: 0% 10px;
}

button.NAV a {
    color:#f9f3e0;
    background-color: #c59c73;
}

button.NAV {
    font-size: 30px;
    background-color:#c59c73;
    color:#c59c73;
    font-family: "Lora";

    text-decoration: none;
}

button.HERO {
    font-size: 100px;
    background-color:#32b3c2;
    color:#FDEADD;
    font-family: "Lora";

    text-decoration: none;
    border-style:ridge;

    padding: 15px;
}

#circle {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    text-align: center;

    font-size: 30px;

    color:#32b3c2;
}

.info_heading {
    font-size: 40px;
    padding-left: 40px;

    color:#c59c73;
}

.info {
    padding: 0px 50px;
    display: flex;
    justify-content: center;
    text-align: center;

    font-size: 30px;

    color:#c59c73;
}

.info strong {
    color:#32b3c2;
}

#info_4 {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 0px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    text-align: center;

    font-size: 30px;

    color:#c59c73;
}

#info_4 strong {
    color:#32b3c2;
}

/* OPTIONS */

#bottom_buttons {
    border-style: groove;
    border-width: 5px;
    border-color: #c59c73;

    padding-bottom: 67px;
}

h3.options {
    font-size: 75px;
    align-self: center;
    padding: 0px;

    color:#c59c73;
}

.options {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

a.content {
    font-size: 30px;
    background-color: #32b3c2;
    color:#f9f3e0;
}

button.content {
    background-color: #32b3c2;
    border-radius: 30px 50px 30px;
    width: 300px;
    min-height: 100px;
    font-family: "Lora";
}

button.bottom {
    font-size: 100px;
    background-color:#32b3c2;
    color:#FDEADD;
    font-family: "Lora";

    text-decoration: none;
    border-style:ridge;

    padding: 15px;
    margin-top: 75px;
}