/* SOFT_PLASTIC.css */

/* Navbar */

.navbar {
    padding-top: 10px;
}

ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0; 
    border: 0;
    width: 100%;
    height: fit-content;

    background-color: #54161E;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

ul.menu li a {
    text-decoration: none;
    color:#FDEADD;
}

#DITHER {
    margin-right: auto;
    padding: 0% 10px;
    font-size: 15px;
}

#ABOUT {
    padding: 0% 10px;
    font-size: 10px;
}

.LEARN {
    padding: 0% 10px;
    font-size: 10px;
}

button.NAV {
    font-size: 30px;
    background-color:#889DA0;
    color:#FDEADD;
    font-family: "Lora";

    text-decoration: none;
}

/* Info */



#title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#54161E;
    font-size: x-large;
}

#instructions {
    font-family: "Lora";
    color: #54161E;
    display: flex;
    justify-content: center;
    padding: 0.5px;
    margin: 1px;
}

#declaration {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;

    display: flex;
    justify-content: center;
    align-items:center;
    background-color: #889DA0;
    color:#FDEADD;
    flex-direction: column;
    padding: -5px;
    margin: 0px;
    border: 0px;
}

#paragraph_one {
    font-size: large;
    color: #54161E;
    display: flex;
    justify-content: left;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 10px;
    margin-right: 10px;
}

#paragraph_two {
    font-size: large;
    color: #54161E;
    display: flex;
    justify-content: left;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 10px;
    margin-right: 10px;
}

#paragraph_three {
    font-size: large;
    color: #54161E;
    display: flex;
    justify-content: left;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 10px;
    margin-right: 10px;
}

#paragraph_four {
    font-size: large;
    color: #54161E;
    display: flex;
    justify-content: left;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 10px;
    margin-right: 10px;
}

#paragraph_five {
    font-size: large;
    color: #54161E;
    display: flex;
    justify-content: left;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 10px;
    margin-right: 10px;
}

#list_one {
    font-size: large;
    color: #54161E;
    display: flex;
    justify-content: left;
    margin: 10px;
}

#paragraph_six {
    font-size: large;
    color: #54161E;
    display: flex;
    justify-content: left;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 10px;
    margin-right: 10px;
}

#paragraph_seven {
    font-size: large;
    color: #54161E;
    display: flex;
    justify-content: left;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 10px;
    margin-right: 10px;
}

#list_two {
    font-size: large;
    color: #54161E;
    display: flex;
    justify-content: left;
    margin: 10px;
}

#paragraph_eight {
    font-size: large;
    color: #54161E;
    display: flex;
    justify-content: left;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 10px;
    margin-right: 10px;
}

#affirmation {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    color: #FDEADD;

    display: flex;
    justify-content: center;
    align-items:center;
    background-color: #889DA0;
    padding: -5px;
    margin: 0px;
}

#facts {
    display: flex;
    justify-content: left;
    font-size: large;
    color: #54161E;
    margin: 10px;
}

